@import "tailwindcss";
@import "./fonts.css";


@theme {
  --color-primary: #161616;
  --color-secondary: #E49B0F;
  /* --font-family-sans: "Bosch", ui-sans-serif, system-ui, sans-serif; */
  --font-family-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-family-heading: "Billiers", ui-serif, serif;
}
@layer base {
  :root {
    --font-heading: "Billiers", ui-serif, serif;
    /* --font-body: "Bosch", ui-sans-serif, system-ui, sans-serif; */
    --font-body: "Roboto", ui-sans-serif, system-ui, sans-serif;
  }

  body {
    font-family: "Roboto";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }

  .font-body {
    font-family: var(--font-body);
  }
}

.gallery-item.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .columns-2 {
    columns: 1;
  }
}

html {
  overflow-x: hidden;
}

.scroll-smooth {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
}

.playlist-details {
  position: relative;
  z-index: 10;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.3;
  font-size: 6px;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
  font-size: 7px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

.transition-width {
  transition-property: width;
}

/* 
.slide-in,
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #efefef;
  z-index: 50;
}

.slide-in {
  transform-origin: bottom;
}

.slide-out {
  transform-origin: top;
} */

.slide-in {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background:#ffffff;
transform-origin: bottom;
}
.slide-out {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background:#ff0000;
transform-origin: top;
}

